<div class="modal fade" id="modal-about" tabindex="-1" role="dialog"
     aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"
                aria-hidden="true">&times;</button>
        <h4 class="modal-title">About Draw Your Data</h4>
      </div>
      <div class="modal-body">
        <h5>Why do this?</h5>
        <p>Visualizing data is a powerful way to discover meaning. Current
          methods are lackluster because none allow for both direct manipulation
          of visuals and dynamic loading of data. Drawing by hand is direct but
          means a new drawing for every set of data. Writing code creates
          dynamic visuals but requires programming knowledge and blind
          manipulation of symbols.<p>
        <h5>How does it work?</h5>
        <p>It doesn't yet - so stay tuned!</p>
      </div>
      <div class="modal-footer">
        <small>
          Built for
          <a href="//railsrumble.com/entries/561-draw-your-data"
             target="_blank">
            Rails Rumble 2013</a>
          </small>
      </div>
    </div>
  </div>
</div>
