<div class="container">
  <div class="row">
    <div class="col-xs-3" id="controls">
      <section class="row" id="controls-data">
        <h5 class="text-info">Data</h5>
        <dl class="dl-horizontal">
          <dt class="text-muted" id="controls-data-input"><br><br>input</dt>
          <dd>
            <table class="table table-bordered table-condensed">
              <thead>
                <tr>
                  <th>1</th>
                  <th>2</th>
                  <th>3</th>
                  <th>4</th>
                  <th>5</th>
                  <th>6</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>4</td>
                  <td>8</td>
                  <td>6</td>
                  <td>2</td>
                  <td>7</td>
                  <td>5</td>
                </tr>
              </tbody>
            </table>
          </dd>
      </section>
      <section class="row" id="controls-steps">
        <h5 class="text-info">Steps</h5>
      </section>
    </div>
    <div class="col-xs-8 jumbotron" id="guided">
      <h5 class="alert alert-step text-center"
          id="guided-step">select a tool by shortcut or click</h5>
      <canvas id="guided-canvas" width="800px" height="400px">
        Your browser is not supported.
      </canvas>
    </div>
    <div class="col-xs-1" id="shortcuts">
      <section class="row">
        <h5 class="text-info text-right">Draw</h5>
        <dl class="dl-horizontal">
          <dt class="text-muted" id="shortcut-draw-rect"
              data-action="draw" data-tool="rect">rect</dt>
          <dd><strong>r</strong></dd>
          <dt class="text-muted" id="shortcut-draw-line"
              data-action="draw" data-tool="line">line</dt>
          <dd><strong>d</strong></dd>
          <dt class="text-muted" id="shortcut-draw-circle"
              data-action="draw" data-tool="circle">circle</dt>
          <dd><strong>c</strong></dd>
        </dl>
      </section>
      <section class="row">
        <h5 class="text-info text-right">Adjust</h5>
        <dl class="dl-horizontal">
          <dt class="text-muted" id="shortcut-adjust-move"
              data-action="adjust" data-tool="move">move</dt>
          <dd><strong>x</strong></dd>
          <dt class="text-muted" id="shortcut-adjust-scale"
              data-action="adjust" data-tool="scale">scale</dt>
          <dd><strong>s</strong></dd>
          <dt class="text-muted" id="shortcut-adjust-rotate"
              data-action="adjust" data-tool="rotate">rotate</dt>
          <dd><strong>e</strong></dd>
        </dl>
      </section>
      <section class="row">
        <h5 class="text-info text-right">Flow</h5>
        <dl class="dl-horizontal">
          <dt class="text-muted" id="shortcut-flow-loop"
              data-action="flow" data-tool="loop">loop</dt>
          <dd><strong>l</strong></dd>
        </dl>
      </section>
    </div>
  </div>
</div>
