// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#wak
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size: 48px
  color: #333333
  text-align: center

