<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">Draw Your Data</a>
  </div>
  <p class="navbar-text">
    A guided canvas to draw your data into - directly, dynamically, simply.
  </p>
  <ul class="nav navbar-nav pull-right">
    <li>
      <a href="#modal-about" data-toggle="modal">About</a>
    </li>
    <li>
      <a href="https://github.com/railsrumble/r13-team-561" target="_blank">Source</a>
    </li>
  </ul>
</nav>

<%= render 'layouts/modals/about' %>
